Redirect 301 "/timeline" "https://libraries.uta.edu/usmexicowar/node/6568"
Redirect 301 "/" "https://libraries.uta.edu/usmexicowar/"
Redirect 301 "/index.php" "https://libraries.uta.edu/usmexicowar/"
Redirect 301 "/mainsearch" "https://libraries.uta.edu/usmexicowar/site-search"
Redirect 301 "/item?bio_id=10&nation=Mexico" "https://libraries.uta.edu/usmexicowar/node/4883"
Redirect 301 "/topic?topic_id=roadtowar" "https://libraries.uta.edu/usmexicowar/topic/road-to-war"
Redirect 301 "/item?content_id=178" "https://libraries.uta.edu/usmexicowar/node/5052"
Redirect 301 "/item?bio_id=46&nation=US&ofst=24&sort=nameasc&ni=52" "https://libraries.uta.edu/usmexicowar/node/4846"
Redirect 301 "/topic?topic_id=29" ""https://libraries.uta.edu/usmexicowar/topic/mexican-women-and-the-war"
Redirect 301 "/topic?topic_id=womenandthewar" "https://libraries.uta.edu/usmexicowar/topic/women-and-the-war"
Redirect 301 "/topic?topic_id=44" "https://libraries.uta.edu/usmexicowar/topic/texas-annexation"
Redirect 301 "/topic?topic_id=28" "https://libraries.uta.edu/usmexicowar/topic/us-women-and-the-war"
Redirect 301 "/topic?topic_id=warinthesouth" "https://libraries.uta.edu/usmexicowar/topic/war-in-the-south"
Redirect 301 "/item?bio_id=18" "https://libraries.uta.edu/usmexicowar/node/4875"
Redirect 301 "/format?format_id=5" "https://libraries.uta.edu/usmexicowar/documents--music-and-poetry"
Redirect 301 "/topic?topic_id=occupationandaftermath" "https://libraries.uta.edu/usmexicowar/topic/occupation-and-aftermath"
Redirect 301 "/item?bio_id=67" "https://libraries.uta.edu/usmexicowar/node/4867"
Redirect 301 "/item?bio_id=16&nation=US" "https://libraries.uta.edu/usmexicowar/node/4877"
Redirect 301 "/topic?topic_id=northerncampaign" "https://libraries.uta.edu/usmexicowar/topic/northern-campaign"
Redirect 301 "/item?content_id=1210&topic_id=30&format_id=12&ofst=10&ni=42" "https://libraries.uta.edu/usmexicowar/node/5797"
Redirect 301 "/topic?topic_id=1" "https://libraries.uta.edu/usmexicowar/topic/us-election-of-1844
Redirect 301 "/item?content_id=177&format_id=1" "https://libraries.uta.edu/usmexicowar/node/5051"
Redirect 301 "/item?bio_id=66&nation=US&ofst=13&sort=nameasc&ni=52" "https://libraries.uta.edu/usmexicowar/node/4868"